#S8nLTU > .content > .boxTitle {
  margin-top: 12px;
}

button.green.blue {
  margin: 8px 4px;
  background-image: none;
  background-color: #759eb8;
  box-shadow: inset 2px 0 1px -1px #23b5d3, inset -2px 0 1px -1px #23b5d3,
    inset 0 3px 1px -1px hsl(203deg 91% 76%), inset 0 -3px 1px -1px #23b5d399;
}

.buttonFramed.green.blue.round:before {
  box-shadow: inset 0 -2px 1px 1px #23b5d3, inset 2px -1px 1px 0 #204760,
    inset -2px -1px 1px 0 #204760, inset 0 2px 1px 1px #c8ddea;
}

.buttonFramed.green.blue.round:hover:before {
  box-shadow: inset 0 -2px 1px 1px #23b5d3, inset 2px -1px 1px 0 #204760,
    inset -2px -1px 1px 0 #204760, inset 0 2px 1px 1px #c8ddea;
}
.buttonFramed.green.blue.round > svg {
  width: 24px;
  height: 24px;
  fill: white;
  stroke-width: 3px;
}
.buttonFramed.green.blue.round.bigger > svg {
  width: 28px;
  height: 28px;
}

.settings-row {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 4px;
  border-bottom: 1px solid #20476044;
}

.buttonFramed.green.blue:before {
  background-color: #759eb8;
}
.buttonFramed.green.blue:hover:before {
  background-color: #23b5d3;
}
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 7px;
}

.slider.round:before {
  border-radius: 50%;
}
